<div class="${baseClass}" id="connect">
        <div class="power-tap">
            <span class="tap-title">连通性分析</span>
            <span class="close-tap" data-dojo-attach-event="onclick:onConnectClose">
                <img src="${picUrl}" alt="关闭">
            </span>
        </div>
        <div class="startSearch">
            <span class="picStyle1"><img src="${pic1Url}"></span> 
            <span id="startDev" class="devText" >请输入起始设备</span> 
            <span class="picStyle3" data-dojo-attach-event="onclick:onstartSelect"><img src="${pic3Url}"></span>
            <span class="picStyle2" data-dojo-attach-event="onclick:onstartCloseDev"><img src="${pic2Url}" alt="关闭搜索"></span>
        </div>
        <div class="endSearch">
            <span class="picStyle1"><img src="${pic4Url}"></span> 
            <span id="endDev" class="devText" >请输入终止设备</span> 
            <span class="picStyle3" data-dojo-attach-event="onclick:onendSelect"><img src="${pic6Url}"></span>
            <span class="picStyle2" data-dojo-attach-event="onclick:onendCloseDev"><img src="${pic5Url}" alt="关闭搜索"></span>
        </div>
        <div class="mesList" id="connectList">
            <div class="mesTitle">电网资源信息</div>
            <div id="conListShow"></div>
        </div>
    </div>