<div class="${baseClass}" id="track">
    <div class="power-tap">
        <span class="tap-title">电源点追踪</span>
        <span class="close-tap" data-dojo-attach-event="onclick:onClose">
            <img src="${picUrl}" alt="关闭">
        </span>
    </div>
    <div class="search">
        <span class="picStyle1"><img src="${pic1Url}"></span>
        <span id="equName" class="devText" >请选择设备</span> 
        <span class="picStyle3" data-dojo-attach-event="onclick:onSelect"><img src="${pic3Url}"></span>
        <span class="picStyle2" data-dojo-attach-event="onclick:onCloseDev"><img src="${pic2Url}" alt="关闭搜索"></span>
    </div>
    <div class="mesList" id="mesList">
        <div class="mesTitle">电网资源信息</div>
        <div id="mesListShow"></div>
    </div>
</div>