<div class="${baseClass}">
    <div class="typeBtn">
        <div data-dojo-attach-point="zoneSelectNode"></div>
        <input type="text" autocomplete="off" data-dojo-attach-point="cnameNode"
               data-dojo-attach-event="compositionstart:compositionstartHandler,compositionend:compositionendHandler,oninput:oninputHandler,onclick:focusHandle,onkeypress:keypressHandler"
               class="cname" placeholder="输入你要查询的名称"/>
        <div class="closeBtn hidden" data-dojo-attach-event="onclick:closeSearch" data-dojo-attach-point="closeBtnNode">
            <svg class="close-btn__item">
                <circle cx="10" cy="10" r="10" fill="#eaeaea"></circle>
                <line x1="5" x2="15" y1="5" y2="15" style="stroke:rgb(255,255,255);stroke-width: 2"></line>
                <line x1="5" x2="15" y1="15" y2="5" style="stroke:rgb(255,255,255);stroke-width: 2"></line>
            </svg>
        </div>
        <div class="change-search-type" data-dojo-attach-point="changeIcon" data-dojo-attach-event="onclick:onChange2Path" style="display: none;">
            <!--<svg class="change-search-type__icon">
                <path class="change-icon" d="M20 5 L14 12 L18 12 L18 15 L10 15 L10 24 L13 24 L13 18 L21 18 L21 12 L25 12 Z"
                      style="fill:#3385ff"></path>
            </svg>-->
        </div>
        <div class="clear-name-button hidden" data-dojo-attach-point="clearIcon" data-dojo-attach-event="onclick:closeSearch">
            <svg class="clear-name-button__icon">
                <line x1="8" x2="22" y1="8" y2="23" style="stroke:rgb(153,153,153);stroke-width: 2"></line>
                <line x1="8" x2="22" y1="23" y2="8" style="stroke:rgb(153,153,153);stroke-width: 2"></line>
            </svg>
        </div>
    </div>
    <div class="searchBtn" data-dojo-attach-event="onclick:searchKeyZone">
        <svg class="search-button__icon">
            <circle cx="8" cy="8" r="5" stroke="white" stroke-width="3" fill="#3385ff"></circle>
            <line x1="12" x2="18" y1="12" y2="18" style="stroke:rgb(255,255,255);stroke-width: 3"></line>
        </svg>
        <!--<button class="searchBtn" data-dojo-attach-event="onclick:searchKeyZone">搜索</button>-->
    </div>
    <div class="zoneContainer">
        <ul data-dojo-attach-point="zoneListNode" data-dojo-attach-event="onclick:zoneListClick"></ul>
        <div class="pageBtn hidden" data-dojo-attach-point="pageContainerNode">
            <div class="prePage" data-dojo-attach-point="preButton" data-dojo-attach-event="onclick:prevPage">
                <span class="arrow-left"></span><span class="title">上一页</span>
            </div>
            <div class="nextPage" data-dojo-attach-point="nextButton" data-dojo-attach-event="onclick:nextPage">
                <span class="title">下一页</span><span class="arrow-right"></span>
            </div>
            <!--<button class="prePage" data-dojo-attach-point="preButton" data-dojo-attach-event="onclick:prevPage">上一页</button>
            <button class="nextPage" data-dojo-attach-point="nextButton" data-dojo-attach-event="onclick:nextPage"></button>-->
        </div>
    </div>
</div>