<div data-dojo-attach-point ="pathContainerNode">
    <div data-dojo-type="dijit/layout/ContentPane" class="tabContainer" data-dojo-attach-point="pathTabNode">
        <div class="costWrap">
            <span class="changeBtn" data-dojo-attach-event="onclick:changeCost"></span>
            <div class="tabCenter">
                <div>
                    <input type="text" class="cname startVal" data-dojo-attach-point="startZoneNode" data-dojo-attach-event="compositionstart:compositionstartHandler,compositionend:compositionendHandler,onkeydown:onKeyDown,onkeyup:onKeyUp,onclick:focusHandle"/>
                    <span class="hidden" data-dojo-attach-event="onclick:getStartCost"></span>
                </div>
                <hr style="width:100%;border-color:#eee;"/>
                <div>
                    <input type="text" class="cname endVal"  data-dojo-attach-point="endZoneNode" data-dojo-attach-event="compositionstart:compositionstartHandler,compositionend:compositionendHandler,onkeydown:onKeyDown,onkeyup:onKeyUp,onclick:focusHandle"/>
                    <span class="hidden" data-dojo-attach-event="onclick:getEndCost"></span>
                </div>
            </div>
            <button class="searchCost" data-dojo-attach-event="onclick:searchPath"></button>
        </div>
        <div class="search-like hidden" data-dojo-attach-point="addressNode" style="width: 350px">
            <ul style="padding-left: 20px" data-dojo-attach-point="addressListNode" data-dojo-attach-event="onclick:selectItem"></ul>
        </div>
    </div>
</div>
