<div class="${baseClass}" style="pointer-events: all;">
    <div id="showListP" class="listView" >
        <span class="devTip">设备列表</span>
        <div class="first">
            <ul id="devListP" class="devView" data-dojo-attach-event="onclick:isMessage"></ul>
        </div>
    </div>
    <div id="devMoreInfoP" class="infoView">
        <span class="infoTip">设备详情列表</span>
        <div class="end">
            <table id="moreInfoListP" class="infoTableView"></table>
        </div>
        <button id="closeShowP" class="closeShow" data-dojo-attach-event="onclick:closeMoreInfo">关闭</button>
    </div>
</div>