<div class="${baseClass}" style="pointer-events: all;">
    <div id="polyList" class="listView">
        <span class="devTip">设备列表</span>
        <div class="first">
            <!-- <ul id="simList" class="devView" data-dojo-attach-event="onclick:tabList"></ul> -->
            <ul id="simList" class="devView" ></ul>
        </div>
    </div>
    <!-- <div id="infoList" class="infoView">
        <span class="infoTip">设备详情列表</span>
        <div class="end">
            <table id="tableInfoList" class="infoTableView"></table>
        </div>
        <button id="closeBtn" class="closeShow" data-dojo-attach-event="onclick:closeShowAction">关闭</button>
    </div> -->
</div>