<div class="${baseClass}" style="pointer-events: all;">
    <div id="rectList" class="listView">
        <span class="devTip">设备列表</span>
        <div class="first">
            <!-- <ul id="rectExList" class="devView" data-dojo-attach-event="onclick:rectTabList"></ul> -->
            <ul id="rectExList" class="devView"></ul>
        </div>
    </div>
    <!-- <div id="rectMoreInfo" class="infoView">
        <span class="infoTip">设备详情列表</span>
        <div class="end">
            <table id="rectInfoList" class="infoTableView"></table>
        </div>
        <button id="rectCloseBtn" class="closeShow" data-dojo-attach-event="onclick:closeRectShow">关闭</button>
    </div> -->
</div>