<div class="${baseClass}" id="bookMark" style="pointer-events: all">
    <button class="book-mark-btn" id="addBtn" data-dojo-attach-event="onclick:viewBook"></button>
    <div class="bookMarkView" id="bookMarkView" style="display: none">
        <div class="book-mark-left">
            <span class="bookNameTip">添加书签:</span>
            <input class="bookMarkName" type="text" name="bookMarkName" id="bookMarkName" placeholder="请输入保存的书签名"/>
            <button id="saveBookMark" class="saveBookBtn" data-dojo-attach-event="onclick:saveBook">保存书签</button>
        </div>
        <div class="book-mark-right">
            <span class="bookNameTip">书签清单:</span>
            <div id="bookMarkShow">
                <ul class="bookMarks" id="bookMarkList" data-dojo-attach-event="onclick:selectBook"></ul>
            </div>
        </div>
        <button id="closeBookBtn" class="closeBookBtn" data-dojo-attach-event="onclick:closeBook">关闭书签</button>
    </div>
</div>
