<table>

    <tr>
        <td>图层名称:</td>
        <td><input type="text" value="${name}"></td>
    </tr>
    <tr>
        <td>图层颜色:</td>
        <td>
            <input type="text" data-dojo-attach-point="buildColorNode">
            <button data-dojo-attach-event="onclick:showColorPalette">调色盘</button>
        </td>
    </tr>
    <tr>
        <td>图层透明度:</td>
        <td><div data-dojo-attach-point="buildalphaSlider"></div></td>
        <td><span data-dojo-attach-point="buildAlphaNode"></span></td>
    </tr>
    <tr>
        <td>图层可见性:</td>
        <td>
            <input name="buildVisibility" data-dojo-attach-point="buildVisibilityNode" type="radio" value="true" checked>显示
            <input name="buildVisibility" type="radio" value="false">隐藏
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center"><button data-dojo-attach-event="onclick:submitBuild">确定</button></td>
    </tr>
</table>