<div class="${baseClass}">
    <div class="title-container">
        <span class="active" data-dojo-attach-event="onclick: switchSBD">输变电</span>
        <span data-dojo-attach-event="onclick: switchPD">配电</span>
        <span data-dojo-attach-event="onclick: switchDY">低压</span>
    </div>
    <div class="input-container">
        <div>
            设备类型: <select class="device-select" data-dojo-attach-point="selectNode"></select>
        </div>
        <div>
            设备名称: <input type="text" data-dojo-attach-point="searchName"><button data-dojo-attach-event="onclick: search"></button>
        </div>
    </div>
    <div class="result-container">
        <div class="device-result" >
            搜索结果 <span class="count-result" data-dojo-attach-point="countResult">(0)</span>
            <span class="page-count" data-dojo-attach-point="pageResult">
                <button class="pre-page" data-dojo-attach-event="onclick: prePage"></button>
                <span data-dojo-attach-point="countPage">1/20</span>
                <button class="next-page" data-dojo-attach-event="onclick: nextPage"></button>
            </span>
        </div>
        <div data-dojo-attach-point="searchResult">

        </div>
    </div>
</div>

