<div class="${baseClass}" style="width: 100px;" data-dojo-attach-event="mouseover:_onMouseOverHandler,mouseout:_onMouseOutHandler">
    <div style="border:2px solid #EEEEEE;width: 52px;float:right;background: #EEEEEE" data-dojo-attach-event="onclick:_changeGridState">
        <div class="gridOpenIcon hidden" data-dojo-attach-point="openNode"
             style="height: 27px;background-repeat: no-repeat;"></div>
        <div class="gridCloseIcon hidden" data-dojo-attach-point="closeNode"
             style="height: 27px;background-repeat: no-repeat;"></div>
        <div data-dojo-attach-point="gridTxt" style="font-size: 1px;text-align: center"></div>
    </div>
</div>