<div class="${baseClass}" style="pointer-events: all;">
    <div class="levelController-box">
        <div class="level-add-btn" data-dojo-attach-point="levelAddBtn" data-dojo-attach-event="onclick:levelAdd"></div>
        <ul class="level-bg" data-dojo-attach-point="levelGradationBox">
            <li class="now-level" id="targetLevel">${nowLevel}</li>
        </ul>
        <div class="level-sub-btn" data-dojo-attach-point="levelSubBtn" data-dojo-attach-event="onclick:levelSub"></div>
    </div>
</div>

