<table>
    <tr>
        <td>背景透明度:</td>
        <td><div data-dojo-attach-point="backAlphaSlider"></div></td>
        <td><span data-dojo-attach-point="backAlphaNode"></span></td>
    </tr>
    <tr>
        <td>背景颜色:</td>
        <td colspan="2">
            <input type="text" data-dojo-attach-point="backColorNode">
            <button data-dojo-attach-event="onclick:showColorPalette">调色盘</button>
        </td>
    </tr>
    <tr>
        <td rowspan="4">地图范围:</td>
        <td>xmin: <input type="text" data-dojo-attach-point="xminNode"></td>
    </tr>
    <tr>
        <td>ymin: <input type="text" data-dojo-attach-point="yminNode"></td>
    </tr>
    <tr>
        <td>xmax: <input type="text" data-dojo-attach-point="xmaxNode"></td>
    </tr>
    <tr>
        <td>ymax: <input type="text" data-dojo-attach-point="ymaxNode"></td>
    </tr>
    <tr>
        <td>地图ID:</td>
        <td><input type="text" data-dojo-attach-point="mapIdNode"></td>
    </tr>
    <tr>
        <td>地图名称:</td>
        <td><input type="text" data-dojo-attach-point="mapNameNode"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center"><button data-dojo-attach-event="onclick:submit">确定</button></td>
    </tr>
</table>