<div class="${baseClass}" style="pointer-events: all;">
    <div class="tool" id="mapTool" data-dojo-attach-event="onclick:_toolClickHandler">工具<span class="mapToolArrowText" id="mapToolArrowText"></span></div>
    <ul id="mapToolSelectWrap" class="mapToolSelect">
        <li class="toolGroupLabel">绘制工具</li>
        <li class="mapToolWrap" data-dojo-attach-point="drawPointNode" data-dojo-attach-event="onclick:_drawHandler">
            <div class="drawPoint">画点</div>
        </li>
        <li class="mapToolWrap" data-dojo-attach-point="drawLineNode" data-dojo-attach-event="onclick:_drawHandler">
            <div class="drawLine">画线</div>
        </li>
       <li class="mapToolWrap" data-dojo-attach-point="drawCircleNode" data-dojo-attach-event="onclick:_drawHandler">
            <div class="drawCircle">画圆</div>
        </li>
        <li class="mapToolWrap" data-dojo-attach-point="drawPolygonNode" data-dojo-attach-event="onclick:_drawHandler">
            <div class="drawPolygon">画多边形</div>
        </li>
        <li class="mapToolWrap" data-dojo-attach-point="drawSphereNode" data-dojo-attach-event="onclick:_drawHandler">
            <div class="drawSphere">画球</div>
        </li>
        <!-- <li class="toolGroupLabel">测量工具</li>

        <li class="drawWrap" data-dojo-attach-point="measureLineNode" data-dojo-attach-event="onclick:measureLine">
            <div class="drawLine">距离</div>
        </li>

        <li class="drawWrap" data-dojo-attach-point="measurePolyNode" data-dojo-attach-event="onclick:measurePoly">
            <div class="drawPoly">面积</div>
        </li>

        <li class="drawWrap" data-dojo-attach-point="measureAngleNode" data-dojo-attach-event="onclick:measureAngle">
            <div class="drawLine">角度</div>
        </li>

        <li class="drawWrap">
            <div class="clearDraw" data-dojo-attach-event="onclick:clearGraphic">清空</div>
        </li>-->
    </ul>
</div>