<table>
    <tr>
        <td>图层ID:</td>
        <td><input type="text" data-dojo-attach-point="tileIdNode"></td>
    </tr>
    <!--<tr>
        <td>图层类型:</td>
        <td><input type="text" data-dojo-attach-point="tileTypeNode"></td>
    </tr>
    <tr>
        <td>图层描述:</td>
        <td><input type="text" data-dojo-attach-point="tileDescNode"></td>
    </tr>-->
    <tr>
        <td>图层透明度:</td>
        <td><div data-dojo-attach-point="tilealphaSlider"></div></td>
        <td><span data-dojo-attach-point="tileAlphaNode"></span></td>
    </tr>
    <tr>
        <td>切片URL:</td>
        <td><input type="text" data-dojo-attach-point="tileUrlNode"></td>
    </tr>
    <tr>
        <td>图层可见性:</td>
        <td>
            <input name="tileVisibility" data-dojo-attach-point="tileVisible" type="radio" value="true" checked>显示
            <input name="tileVisibility" type="radio" value="false">隐藏
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center"><button data-dojo-attach-event="onclick:submitTile">确定</button></td>
    </tr>
</table>