<div style="width: 100%; height: 140px;font-size: 14px;box-shadow: 0 -2px 2px #dddddd;display: none">
    <div style="width: 100%; height: 40px; background: white">
        <div class="head left">
            <span class="${_arrow}" data-dojo-attach-event="ondijitclick: openOrClose"></span> <span>时间</span>
        </div>
        <div class="head center">
            24小时时间轴
        </div>
        <div class="head right">
            <span class="headSet"></span> <span>设置</span>
        </div>
    </div>
    <div style="width: 100%; height: 80px; background: white; display: ${_display}" data-dojo-attach-point="timeLineContainer">
        <div class="contentLeft">
            <div class="stopOrGo" data-dojo-attach-point="controllerNode" data-dojo-attach-event="ondijitclick: stopOrGo"></div>
        </div>
        <div class="contentCenter">
            <div class="bgLine"></div>
            <div class="colorLine">
                <div class="timeLineStart"></div>
                <div class="colorLineContent" data-dojo-attach-point="colorLineNode"></div>
                <div class="timeLineEnd" data-dojo-attach-point="timeLineEndNode"></div>
            </div>
            <div class="timeLine">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="lastScale"></div>
                <div class="notScale"></div>
            </div>
        </div>
        <div class="contentRight">
            <span class="slow" data-dojo-attach-event="ondijitclick: goSlow"></span><span class="quick" data-dojo-attach-event="ondijitclick: goQuick"></span>
        </div>
    </div>
</div>